.hover-pink-text {
  transition: color 0.3s;
  background: transparent !important;
}

.hover-pink-text:hover {
  color: #e84393; 
}

.v-btn {
  background: transparent !important;
  box-shadow: none !important;
}
