.title {
    background-color: #FFF5FA;
    padding: 1rem;
    margin: 3.5rem;
    justify-content: center;
    display: flex;
  }
  
  .titulo-text {
    color: #E84293;
    font-size: 45px;
    font-weight: bold;
  }
  
  .subtitulo-text {
    color: #333333;
    font-size: 45px;
    font-weight: bold;
  }
  